@import "~bootstrap/scss/bootstrap.scss";

.pill-nav a {
  display: inline-block;
  padding: 6px 15px !important;
  text-align: center;
  color: black;
  margin-right: 15px;
  margin: 5px;
  border-radius: 20px;
  padding-left: 300px;
  //   width: 10px;

  border: 1px solid #e6e6e6;
}
/* color of links on mouse-over */
.pill-nav a:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

/* Add a color for active/current link */
.pill-nav a.active {
  background-color: blue;
  color: black;
}
// second grid
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
// first grid
// .grid:after {
//   content: "";
//   display: block;
//   clear: both;
// }

// .grid-sizer,
// .grid-item {
//   width: 33.333%;
// }
// @media (max-width: 575px) {
//   // @media (max-width: 575px) {
//   .grid-sizer,
//   .grid-item {
//     width: 100%;
//   }
// }
// @media (min-width: 576px) and (max-width: 1000px) {
//   .grid-sizer,
//   .grid-item {
//     width: 50%;
//   }
// }

// .grid-item {
//   float: left;
// }

// .grid-item img {
//   display: inline-block;
//   max-width: 100%;
// }
.top-footer {
  background-color: black;
  display: block;
  width: 100%;
}
.font {
  font-family: "Lato";
  font-size: 24px;
  color: white;
}
.bottom-footer {
  background-color: white;
  display: block;
  width: 100%;
  height: 50%;
  margin: 0%;
}
.copyright {
  text-align: center;
  color: #fff;
}

// .footer-row1 {
//   margin-top: 80px;
//   padding: 1.2em 0;
//   background: #000;
//   bottom: 0;
//   margin-right: -33px;
//   font-family: "Fjalla One", Verdana, Geneva, sans-serif;
//   font-size: 0.95em;
//   text-transform: uppercase;
// }
